.card-table-container { 
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 1px;
  background-color: rgb(76, 175, 80);
}

.card-table-player,
.card-table-dealer  {
  display: flex 1 1;
  flex-basis: 200px;
  flex-direction: column;
  width: 100%;
}

